* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2,
p {
  font-family: inherit;
}
$color-main:#007e7f;
$color-bg: #e1e2e4;
$color-gradient: #93832f, #f4eda7;
$heigh_header_title: 50px;
$border-frame: 2px solid $color-main;
$border-textbox: 3px solid $color-main;
$border-header: 3px solid $color-main;
$box-w: 10px;
$box-h: 15px;
$line-box-w: 150px;
$triangle: 30px;
$border-gradient: 5px solid linear-gradient(to bottom, red, black);
.frame {
  width: 620px;
  padding: 13px ;
  margin:auto;
}
.frame--center {
  margin: 25px;
}
.frame__border {
  display: inline-block;
  height: 100%;
  border: $border-frame;
}

/* HEADER */
.header {
  // padding: 0 20px;
  text-align: center;
  
}
.header__title {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 20px auto;
  // border-top: $border-header;
  // border-bottom: $border-header;
  height: $heigh_header_title;
}

/* two-box */
.two-box {
  width: 100%;
  position: absolute;
  bottom: (-1 * ($box-h / 1.65));
}
.two-box .box {
  width: $box-w;
  height: $box-h;
  border: $border-header;
}

/* position box for header */
.header__title .two-box:nth-child(1) {
  top: (-1 * ($box-h / 1.65));
}
.header__title .two-box:nth-child(2) {
  bottom: (-1 * ($box-h / 1.65));
}
.header__title .two-box .box:nth-child(1),
.header__title .two-box .box:nth-child(3) {
  margin-left: (-1 * $box-w);
}
.header__title .two-box .box:nth-child(2),
.header__title .two-box .box:nth-child(4) {
  margin-right: (-1 * $box-w);
}

/* HEADER-CONTENT */
// .header__content p {
//   text-align: left;
//   color: $color-main;
//   font-weight: bold;
//   text-indent: 20px;
// }
.header__content p:before {
  content: open-quote;
}
.header__content p:after {
  content: close-quote;
}

/* CONTENT */
.content{
  height: 100%;
}
/* option1 */
.content.option1,
.content.option2,
.content.option3,
.content.option4 {
  padding: 0 10px;
}
.content .row {
  float: left;
  overflow: hidden;
  height: 100%;
}
.content .row:not(:last-child) {
  margin-bottom: 20px;
}
.content .row .col p {
  padding-right: 20px;
}
.content .row .col {
  float:left;
  max-width: 50%;
}
.bg-gray {
  background-image: url('./image/background.png');
  background-size: 100%;
}

.line-box {
  $box-w: 8px;
  $box-h: 10px;
}
.line-box .two-box .box:nth-child(1) {
  float: left;
  margin-left: (-1 * $box-w);
}
.line-box .two-box .box:nth-child(2) {
  float:right;
  margin-right: (-1 * $box-w);
}
.line-box {
  float: left;
  position: relative;
  width: $line-box-w;
  margin: 5px auto 10px;
  height: $box-h;
  border-bottom: $border-header;
}

svg{
  stroke: $color-main;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
.content.option1 .row:last-child{
  width: 100%;
  margin: 0 0 10px;
  border: $border-textbox;
  position: relative;
  outline: none;
}
@page{
  size: a4;
}