* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2,
p {
  font-family: inherit;
}

.frame {
  width: 900px;
  padding: 13px;
  margin: auto;
}

.frame--center {
  margin: 25px;
}

.frame__border {
  width: 100%;
  display: inline-block;
  height: 100%;
  border: 2px solid #007e7f;
}

.name__datebirth {
  text-align: center;
  color: #0e3849;
  font-family: "SVN-Book Antiqua";
  font-size: 22pt;
  margin-top: 20px;
}

/* HEADER */
.header {
  text-align: center;
}

.header__title {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 20px auto;
  height: 50px;
}

/* two-box */
.two-box {
  width: 100%;
  position: absolute;
  bottom: -9.0909090909px;
}

.two-box .box {
  width: 10px;
  height: 15px;
  border: 3px solid #007e7f;
}

/* position box for header */
.header__title .two-box:nth-child(1) {
  top: -9.0909090909px;
}

.header__title .two-box:nth-child(2) {
  bottom: -9.0909090909px;
}

.header__title .two-box .box:nth-child(1),
.header__title .two-box .box:nth-child(3) {
  margin-left: -10px;
}

.header__title .two-box .box:nth-child(2),
.header__title .two-box .box:nth-child(4) {
  margin-right: -10px;
}

/* HEADER-CONTENT */
.header__content p:before {
  content: open-quote;
}

.header__content p:after {
  content: close-quote;
}

/* CONTENT */
.content {
  height: 100%;
}

.content.option1,
.content.option2,
.content.option3,
.content.option4 {
  padding: 0 10px;
}

.content .row {
  float: left;
  overflow: hidden;
}

.content .row:not(:last-child) {
  margin-bottom: 20px;
}

.content .row .col {
  float: left;
  max-width: 50%;
}

/* option1 */
.content.option1 .row:last-child {
  width: 100%;
  margin: 0 0 10px;
  border: 3px solid #007e7f;
  position: relative;
  outline: none;
  background: url("./image/bg.png");
  background-size: 100%;
}

.option1 p {
  font-family: "SVN-Book Antiqua";
  font-size: 16pt;
}

/* option2 */
.bg-option2 {
  float: left;
  background: url("./image/bg.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.content.option2 {
  background: url("./image/page21-bg.png");
  background-size: 100%;
}

.content.option2 .row {
  padding: 20px;
  margin: 0 0 10px;
  border: 3px solid #007e7f;
}

.option2 {
  font-family: "SVN-Book Antiqua";
  font-size: 16pt;
}

/* option3 */
.bg-option3 {
  float: left;
  background: url("./image/bg.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.option3 p {
  font-family: "SVN-Book Antiqua";
  font-size: 14pt;
}

.content.option3 .row {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: unset;
}

.content.option3 .row:nth-child(2) {
  flex-direction: row-reverse;
}

.content.option3 .content__cmt {
  position: relative;
  width: 600px;
  min-height: 130px;
  margin: 30px 0;
  padding: 20px;
  background-color: rgba(214, 197, 154, 0.5);
}

.content.option3 .avatar__cmt {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 150px;
  height: 150px;
  border: 5px solid #beab5c;
  background-color: #e3e3e4;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.content.option3 .row:last-child {
  margin-bottom: 60px;
}

/* option4 */
.content.option4 .row:first-child {
  float: left;
  background: url("./image/page27-image.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.content.option4 .row img {
  width: 60%;
  margin: 0 auto 20px;
  opacity: 0.3;
}

.content.option4 .row p {
  font-family: "SVN-Book Antiqua";
  font-weight: 700;
  font-size: 32pt;
  color: #007e7f;
}

/* option5 */
.content.option5 {
  position: relative;
}

.content.option5::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1038px;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: url("./image/page27-bg.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-option5 {
  height: 1038px;
  width: 100%;
  background: url("./image/page4.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 39.5px;
}

.option5.content .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option5.content .row .col {
  width: 232px;
  max-height: 98px;
  margin: 61.5px 17.5px;
  overflow: hidden;
}

.option5.content .row:not(:first-child) {
  margin-top: 17.5px;
}

.option5.content .row .col p {
  text-align: center;
  line-height: 98px;
  font-family: "SVN-Book Antiqua";
  font-weight: 700;
  font-size: 52pt;
  color: #007e7f;
}

/* option6 */
.content.option6 {
  position: relative;
}

.content.option6::after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 1038px;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: url("./image/page27-bg.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-option6 {
  height: 1038px;
  width: 100%;
  background: url("./image/page5.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 39.5px;
}

.content.option6 .row:first-child {
  height: 223.12px;
  width: 100%;
  background: url("./image/page5-f1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content.option6 .row:first-child .col {
  width: 232px;
  height: 98px;
  margin: 61.5px 17.5px;
  overflow: hidden;
}

.content.option6 .row:last-child .col {
  min-width: 352px;
  height: 157px;
  overflow: hidden;
  margin: 64px 27.25px 55.5px;
}

.content.option6 .row:last-child {
  height: 554.6px;
  width: 100%;
  background: url("./image/page5-f2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 406.5px 406.5px;
  grid-template-rows: 263px 263px;
  column-gap: 37px;
  row-gap: 28.6px;
}

.option6.content .row .col p {
  text-align: center;
  font-family: "SVN-Book Antiqua";
  font-weight: 700;
  font-size: 52pt;
  color: #007e7f;
}

.option6.content .row:last-child .col p {
  font-size: 36pt;
}

/* option7 */
.content.option7 .row:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.option7 p {
  font-family: "SVN-Book Antiqua";
  font-size: 16pt;
}

.content.option7 .row:first-child .col:first-child p::before {
  content: open-quote;
}

.content.option7 .row:first-child .col:first-child p::after {
  content: close-quote;
}

.content.option7 .row:first-child .col:last-child p::before {
  content: "(";
}

.content.option7 .row:first-child .col:last-child p::after {
  content: ")";
}

/* option8 */
p.name, p.datebirth {
  text-align: center;
  color: #0e3849;
  font-family: "SVN-Book Antiqua";
  font-size: 20pt;
}

p.name span span:last-child, p.datebirth span span:last-child {
  font-weight: bold;
}

.content.option8 {
  position: relative;
  height: 1038px;
}

.content.option8::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1038px;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: url("./image/page27-bg.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.content.option8 .row:first-child {
  display: flex;
  justify-content: space-between;
  margin: 100px 20px 50px;
}
.content.option8 .row:first-child .col:first-child {
  color: #007e7f;
  font-family: "SVN-Berkshire Swash";
  font-size: 32pt;
  font-weight: bold;
}
.content.option8 .row:first-child .col:first-child p {
  width: 100%;
  white-space: nowrap;
}
.content.option8 .row:first-child .col:first-child p:last-child {
  margin-left: 80px;
}

.content.option8 .row:last-child {
  padding: 20px;
  background-color: #007f7f46;
}
.content.option8 .row:last-child p {
  color: #48362e;
  font-family: "SVN-Book Antiqua";
  font-size: 16pt;
  font-weight: bold;
}

.content.option8 .avatar {
  width: 150px;
  height: 150px;
  border: 5px solid #007e7f;
  overflow: hidden;
  position: relative;
  left: -50%;
  top: -25%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.content.option8 .avatar img {
  margin-top: -30px;
  margin-left: -30px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

/* option9 */
.option9 {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  height: 1033px;
  background: url("./image/page1-bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.option9 .bg-option9 {
  position: relative;
  height: 1033px;
  background: url("./image/page1-bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.option9 .bg-option9::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1033px;
  width: 900px;
  z-index: -1;
  background: url("./image/page1-bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
.option9 p {
  font-family: "SVN-Avo";
  font-weight: bold;
  text-align: center;
}
.option9 p span {
  background: #f2edae;
  background: radial-gradient(circle, #f2edae 0%, #c4ae62 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.option9 .frame__border {
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: radial-gradient(circle, #f2edae 0%, #c4ae62 100%);
}

.bg-gray {
  background: url("./image/background.png");
  background-size: 100%;
}

.line-box .two-box .box:nth-child(1) {
  float: left;
  margin-left: -10px;
}

.line-box .two-box .box:nth-child(2) {
  float: right;
  margin-right: -10px;
}

.line-box {
  float: left;
  position: relative;
  width: 150px;
  margin: 5px auto 10px;
  height: 15px;
  border-bottom: 3px solid #007e7f;
}

svg {
  stroke: #007e7f;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

@page {
  size: a4;
}